body {
  font-family: 'Segoe UI', sans-serif;
  background-image: url('imagemserv1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  line-height: 1.6;
}
