*{
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: dmsan;
    src: url(fontes/DMSans-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: anton;
    src: url(fontes/Anton-Regular.ttf);
}
@font-face {
    font-family: opensans;
    src: url(fontes/OpenSans-VariableFont_wdth\,wght.ttf);
}
header{
    background-color: black;
}
header::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(imagemhome1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: 0;
}
.home1{
    position: relative;
    z-index: 1;
}
.barra-menu{
    display: flex;
    justify-content: space-between;
    padding: 8px 96px;
    background-color: rgba(0, 0, 0, 0.6);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 280px;
}
.menu-itens{
    font-family: dmsan;
    text-decoration: none;
    color: white;
    padding: 0px 18px;
}
.menu li{
    font-size: 17px;
}
.menu{
    display: flex;
    align-items: center;
}
.barra-menu ul{
    display: flex;
    align-items: center;
    list-style: none;
}
/*------------------------------------------------------------------------------------*/
.sobrenos{
    display: flex;
    justify-content: space-between;
    padding: 100px 140px; 
}
.img-sobrenos img{
    width: 500px;
    border-radius: 20px;
}
.texto-sobrenos{
    padding-top: 100px;
    padding-right: 120px;
}
.texto-sobrenos h2{
    font-family: anton;
    text-align: center;
    color: #db2c2c;
    font-size: 50px;
    padding-bottom: 30px;
}
.texto-sobrenos p{
    font-family: opensans;
    text-align: justify;
    line-height: 30px;
    width: 600px;
    font-size: 20px;
    color: white;
}
/*------------------------------------------------------------------------------------*/
.home2{
    background-color: black;
}
.home2::before{
    content: "";
    position: absolute;
    top: 920px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(imagemhome2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 0;
}
.conteudo-home2{
    display: flex;
    justify-content: space-between;
    padding: 200px 140px;
    position: relative;
    z-index: 1;
}
.formulario p{
    color: white;
    margin-bottom: 35px;
    font-family: anton;
    font-size: 42px;
    text-align: center;
}
.formulario div{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: opensans;
    font-size: 15px;
    padding: 10px;
}
.formulario form{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    background: rgba(0, 0, 0, 0.4)
}
.formulario input, select{
    border-radius: 5px;
    height: 30px;
    color: white;
    background: rgba(211, 211, 211, 0.5)
}
.formulario input[type=text]{
    font-size: 15px;
}
.formulario input[type=tel]{
    text-align: center;
    font-size: 15px;
}
.formulario select{
    text-align: center;
    font-size: 16px;
}
select option{
    color: white;
    background: rgba(105, 105, 105, 0.8)
}
.formulario input[type=submit]{
    width: 15%;
    font-size: 13px;
}
.texto-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px;
}
.texto-social nav{
    display: flex;
    flex-direction: column;
}
.texto-social h2{
    font-family: anton;
    color: white;
    font-size: 40px;
    padding-bottom: 20px;
}
.texto-social p{
    font-family: opensans;
    text-align: justify;
    color: white;
    font-size: 18px;
    width: 600px;
    padding-bottom: 50px;
}
#insta{
    margin-bottom: 25px;
    height: 96px;
}
#zapzap{
    margin-top: 25px;
}
/*------------------------------------------------------------------------------------*/
.home3{
    background-color: black;
}
.home3::before{
    content: "";
    position: absolute;
    top: 1840px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(imagemhome3.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 0;
}
.conteudo-home3{
    display: flex;
    justify-content: space-between;
    padding: 120px 140px;
    position: relative;
    z-index: 1;
}
.informacao{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}
.texto-logo{
    display: flex;
    flex-direction: row;
    padding-left: 120px;
    padding-bottom: 30px;
}
.texto-logo p{
    font-family: anton;
    font-size: 60px;
    color: white;
    padding-right: 20px;
}
.texto-logo img{
    height: 85Px;
}
.endereco{
    font-family: opensans;
    font-size: 20px;
    color: white;
    text-align: center; 
    width: 600px;
}
/*------------------------------------------------------------------------------------*/
.rodape{
    background-color: black;
}
.rodape-logo{
    display: flex;
    justify-content: center;
}
.rodape-logo img{
    width: 80px;
}
.rodape-info{
    display: flex;
    justify-content: space-around;
    padding-right: 240px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.endereco-rodape{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.atendimento-rodape{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.contato-rodape{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.endereco-rodape img{
	width: 30px
}
.atendimento-rodape img{
	width: 30px
}
.contato-rodape img{
	width: 30px
}
#titulor1, #titulor2, #titulor3{
	font-family: anton;
	color: white;
	font-size: 20px; 
}
#textor1, #textor2, #textor3, #textor4{
    font-family: opensans;
	color: white;
    font-size: 10px;
}
/*
@media screen and (max-width: 970px){
    .barra-menu{
        display: flex;
        flex-direction: row;
    }
    .logo img{
        width: 190px;
    }
    .menu li{
        font-size: 10px;
    }
    .sobrenos{
        display: flex;
        flex-direction: column;
    }
    .texto-sobrenos p{
        align-items: center;
        width: auto;
    }
    .conteudo-home2{
        display: flex;
        flex-direction: column;
    }
    .texto-social{
        padding-top: 60px;
    }
    .conteudo-home3{
        display: flex;
        flex-direction: column;
    }
    .display-mapa{
        padding-top: 50px;
        width: 600px;
        height: 350px;
    }
    .rodape-info{
        display: flex;
        flex-direction: column;
        padding-right: 0px;
    }
}
*/