*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: dmsan;
    src: url(fontes/DMSans-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: anton;
    src: url(fontes/Anton-Regular.ttf);
}
@font-face {
    font-family: opensans;
    src: url(fontes/OpenSans-VariableFont_wdth\,wght.ttf);
}
/*MENU*/
.menu{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 1)
}
#imagemlogo{
    width: 330px;
    padding-left: 60px;
    padding-top: 10px;
}
.menuprincipal{
    margin: 40px;
    padding-top: 10px;
}
.menu a{
    text-decoration: none;
    font-family: dmsan;
    color: white;
    padding: 30px;
}
/*ANIMAÇÃO*/
section{
    background-color: black;
    height: 800px;
}
.animacao img{
    width: 600px;
}
.animacao{
    position: relative;
    top: 250px;
    animation-name: deslizar;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes deslizar{
    0%{
        left: 0;
    }
    100%{
        left: 700px;
    }
}
/*RODAPÉ*/
.rodape1{
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
}
.rodape2{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.rodape2 p{
    text-align: center;
}
#r1 img{
    width: 80px;
    margin: 30px;
    padding-left:880px
}
#titulor1{
    font-family: anton;
    font-size: 20px;
}
#r2 img{
    width: 30px;
    height: 30px;
    padding-left: 135px;
}
#r2{
    width: 300px;
}
#titulor2{
    font-family: anton;
    font-size: 20px;
}
#r3 img{
    width: 30px;
    padding-left: 135px;
}
#r3{
    width: 300px;
}
#titulor3{
    font-family: anton;
    font-size: 20px;
}
#r4 img{
    width: 30px;
    padding-left: 135px;
}
#r4{
    width: 300px;
}
#textor1, #textor2, #textor3, #textor4{
    font-family: opensans;
    font-size: 10px;
}